/*.info {*/
/*    margin-top: 64px;*/

/*}*/
.info-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    font-weight: bold;


}
/*.info-circle {*/
/*    margin-top: 32px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/

/*}*/
/*.info-circle-img {*/
/*    height: 80px;*/
/*    width: 80px;*/

/*}*/
/*.info-circle-left {*/
/*    display: flex;*/
/*}*/
/*.info-circle-center {*/
/*    display: flex;*/
/*}*/
/*.info-circle-right {*/
/*    display: flex;*/
/*}*/
/*.info-circle-texth*/
/*{*/
/*    font-weight: bold;*/
/*}*/