.main-info{

}
.main-info1{

}
.main-info-h{

}
.main-info3{
    font-size: 16px;
    font-weight: bold;
}
.main-info4{
    font-size: 14px;
    color: gray;
}
.input{
    background-color: gray;
}
.main-info-r1{

}
.label {
    color: black;
}
.main-info-r2{
    color: #FFB74D;
    background-color: #FFB74D;
}
.main-info-l1{
    font-size: 28px;
    font-weight: bold;
}
.info__left{
    position: absolute;
    left: 24px;
    bottom: 300px;
}
.info__right{
    position: absolute;
    right: 24px;
    bottom: 300px;

}
