<div class='fast-menu-pictures'>
                <div class='mr-8 w-[306px] h-[166px] fast-menu-text1'>
                     <span class="a">Линолеум</span>
                </div>

                <div class='mr-8 w-[306px] h-[166px] fast-menu-text2'>
                                     <span class="a">Виниловая плитка</span>
                                </div>

                                <div class='w-[644px] h-[166px] fast-menu-text3'>
                                                     <span class="a">Ламинат</span>
                                                </div>
<!--                 <div class='fast-menu-pic'> -->
<!--                                      <img class="pr-8 w-[306px] h-[166px]" src="@/assets/svg/Pic12.png" alt="second"> -->
<!--                                 </div> -->
<!--                                 <div class='fast-menu-pic'> -->
<!--                                                      <img class="w-[644px] h-[166px]" src="@/assets/svg/Pic13.png" alt="third"> -->
<!--                                                 </div> -->
</div>