<div class="scroll-none text-white mt-16 flex flex-row overflow-x-scroll gap-4 md:flex-col md:overflow-visible md:justify-center xl:flex-row xl:gap-8 xl:justify-between">
    <div class="flex flex-row gap-4 xl:gap-8">
        <div class="flex relative min-w-[237px] h-[135px] md:w-[50%] md:h-[166px] xl:w-auto xl:h-[166]">
            <img class="md:w-[100%] object-cover" src="@/assets/svg/Pic11.png" alt="Линолеум">
            <div class="h4 absolute bottom-4 left-4">Линолеум</div>
        </div>
        <div class="flex relative min-w-[237px] h-[135px] md:w-[50%] md:h-[166px] xl:w-auto xl:h-[166]">
            <img class="md:w-[100%] object-cover" src="@/assets/svg/Pic12.png" alt="Линолеум">
            <div class="h4 absolute bottom-4 left-4">Виниловая плитка</div>
        </div>
    </div>
    <div class="flex relative min-w-[237px] h-[135px] md:w-[100%] md:h-[166px] xl:w-auto xl:h-[166]">
        <img class="md:w-[100%] object-cover" src="@/assets/svg/Pic13.png" alt="Линолеум">
        <div class="h4 absolute bottom-4 left-4">Ламинат</div>
    </div>
</div>