    <div class='info'>

        <div class='mt-1 md:mt-7 xl:mt-16 info-text'>
        Мы знаем что вы ищете
        </div>

        <div class='flex flex-col items-center place-content-around  md:flex-row 
        info-circle'>

            <div class='flex flex-row mt-8 md:border-r-[1px] md:flex-col 
            md:justify-center xl:flex-row
            info-circle-left'>
                <div class='md:m-auto info-circle-img'>
                <svg class='h-16 w-16 xl:h-20 xl:w-20 fill-error'>
                    <use href="@/assets/svg/Pol.svg" ></use>
                </svg>
                </div>
                <div class='ml-4 w-[208px] text-sm md:mt-4 
                md:text-center xl:text-base xl:w-[320px] 
                xl:text-left info-circle-text'>
                   <div class='font-bold info-circle-texth'>
                        Самый большой выбор
                    </div>
                    <div class='mt-1 info-circle-textl'>
                        Напольных покрытий в интернете
                    </div>
                </div>
            </div>

            <div class='flex flex-row  mt-8 md:border-r-[1px] md:flex-col 
            md:justify-center xl:flex-row
            info-circle-center'>
                            <div class='md:m-auto info-circle-img'>
                            <svg class='h-16 w-16 xl:h-20 xl:w-20 fill-error'>
                                                <use href="@/assets/svg/Car.svg"></use>
                                            </svg>
                            </div>
                            <div class='ml-4 w-[208px] md:mt-4 text-sm 
                            md:text-center xl:text-base xl:w-[320px] xl:text-left
                            info-circle-text'>
                               <div class='font-bold 
                               info-circle-texth'>
                                    Доставка 1000 рублей
                                </div>
                                <div class='mt-1 info-circle-textl'>
                                    По всей России до 50 кг в пункт выдачи
                                </div>
                            </div>
                        </div>

            <div class='flex flex-row  mt-8 md:flex-col xl:flex-row
            info-circle-right'>
                            <div class='md:m-auto info-circle-img'>

                            <svg class='h-16 w-16 xl:h-20 xl:w-20 fill-error'>
                                <use href="@/assets/svg/ylit.svg"></use>
                            </svg>
                            </div>
                            <div class='ml-4 w-[208px]  text-sm md:text-center xl:text-base 
                            xl:w-[320px] xl:text-left info-circle-text'>
                               <div class='font-bold md:mt-4
                               info-circle-texth'>
                                    Отрежем сколько скажите
                                </div>
                                <div class='mt-1 info-circle-textl'>
                                    И вдоль и поперек любой рулонный товар
                                </div>
                            </div>
                        </div>

        </div>

     </div>
