    <div class='info'>

        <div class='info-text'>
        Мы позаботились о вас
        </div>

        <div class='info-circle'>

            <div class='info-circle-left'>
                <div class='info-circle-img'>
                <svg class='h-16 w-16 fill-error'>
                    <use href="@/assets/svg/Pol.svg" ></use>
                </svg>
                </div>
                <div class='info-circle-text'>
                   <div class='info-circle-texth'>
                        Самый большой выбор
                    </div>
                    <div class='info-circle-textl'>
                        Напольных покрытий в интернете
                    </div>
                </div>
            </div>

            <div class='info-circle-center'>
                            <div class='info-circle-img'>
                            <svg class='h-16 w-16 fill-error'>
                                                <use href="@/assets/svg/Car.svg"></use>
                                            </svg>
                            </div>
                            <div class='info-circle-text'>
                               <div class='info-circle-texth'>
                                    Доставка 1000 рублей
                                </div>
                                <div class='info-circle-textl'>
                                    По всей России до 50 кг в пункт выдачи
                                </div>
                            </div>
                        </div>

            <div class='info-circle-right'>
                            <div class='info-circle-img'>

                            <svg class='h-16 w-16 fill-error'>
                                <use href="@/assets/svg/ylit.svg"></use>
                            </svg>
                            </div>
                            <div class='info-circle-text'>
                               <div class='info-circle-texth'>
                                    Отрежем сколько скажите
                                </div>
                                <div class='info-circle-textl'>
                                    И вдоль и поперек любой рулонный товар
                                </div>
                            </div>
                        </div>

        </div>

     </div>
