<div class='mt-16 main-check'>
    <div class='text-2xl xl:text-4xl main-check1'>Просмотренные ранее</div>
    <div class='scroll-none flex flex-row justify-between overflow-x-scroll md:overflow-visible mt-8 main-check2'>
        <div class='min-w-[263px] main-check21'>
            <img class='w-[64px] h-[64px] xl:w-[113px] xl:h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='text-xs xl:text-base min-w-[162px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-1 xl:mt-10 main-check-price'>
                    <div class=' text-xs xl:text-base font-bold main-check-price1'>790 руб./шт </div>
                    <div class='text-xs xl:text-base ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
        <div class='min-w-[263px] main-check21'>
            <img class='w-[64px] h-[64px] xl:w-[113px] xl:h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='text-xs xl:text-base min-w-[175px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-1 xl:mt-10 main-check-price'>
                    <div class=' text-xs xl:text-base font-bold main-check-price1'>790 руб./шт </div>
                    <div class='text-xs xl:text-base ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
        <div class='min-w-[263px] main-check21'>
            <img class='w-[64px] h-[64px] xl:w-[113px] xl:h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='text-xs xl:text-base min-w-[162px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-1 xl:mt-10 main-check-price'>
                    <div class=' text-xs xl:text-base font-bold main-check-price1'>790 руб./шт </div>
                    <div class='text-xs xl:text-base ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
    </div>
</div>