<div class='mt-16 w-[1920px] h-[308px] main-check'>
    <div class='main-check1'>Просмотренные ранее</div>
    <div class='main-check2'>
        <div class='main-check21'>
            <img class='w-[113px] h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='w-[290px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-10 main-check-price'>
                    <div class='main-check-price1'>790 руб./шт </div>
                    <div class='ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
        <div class='ml-8 main-check21'>
            <img class='w-[113px] h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='w-[290px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-10 main-check-price'>
                    <div class='main-check-price1'>790 руб./шт </div>
                    <div class='ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
        <div class='ml-8 main-check21'>
            <img class='w-[113px] h-[113px]' src="@/assets/svg/check.png">
            <div class='ml-4 main-check-all'>
                <div class='w-[290px] main-check-name'>Грунтовка Murexin Voranstrich PU 5 EXPRESS (5кг) </div>
                <div class='mt-10 main-check-price'>
                    <div class='main-check-price1'>790 руб./шт </div>
                    <div class='ml-1 main-check-price2'>1020 руб. </div>
                </div>
            </div>
        </div>
    </div>
</div>