<div class='mt-16 main-news'>
    <div class='mt-16 main-news1'>
        <div class="mt-16 w-[409px] h-[35px]  main-news11"> Новости, статьи и обзоры </div>
        <div class="mt-4 w-[525px] h-[48px] opt-buy2"> Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </div>
        <button class="mt-2 btn-text button-2">Больше статей</button>
    </div>
    <div class='ml-[151px] w-[306px] h-[312px] main-news2'>
        <div class="main-news21">
           <span class="news22">Способы производства ковровых покрытий</span>
           <svg class="h-[16px] w-[16px] fill-error news23">
               <use href="@/assets/svg/svgNews1.svg"></use>
           </svg>
        </div>
    </div>
    <div class='ml-[32px] w-[306px] h-[312px] main-news3'>
        <div class="main-news21">
            <span class="news22">Способы производства ковровых покрытий</span>
            <svg class="h-[16px] w-[16px] fill-error news23">
                <use href="@/assets/svg/svgNews1.svg"></use>
            </svg>
        </div>
    </div>
</div>