<div class='flex flex-col mt-4 md:mt-16 md:flex-row justify-between main-news'>

        <div class='mt-10 main-news1'>
            <div class="mt-0 w-[190px] md:w-[409px] font-bold md:mt-10 text-2xl xl:text-4xl main-news11"> Новости, статьи и обзоры </div>
            <div class="mt-4 w-[290px] md:w-[525px] opt-buy2"> Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </div>
            <button class="mt-2 btn-text button-2">Больше статей</button>
        </div>
    <div class="scroll-none flex flex-row overflow-x-scroll md:overflow-visible mt-8 md:mt-0">
        <div class='min-w-[250px] min-h-[216px] md:w-[306px] md:h-[312px] main-news2'>
            <div class="main-news21">
               <span class=" news22">Способы производства ковровых покрытий</span>
               <svg class="h-[16px] w-[16px] fill-error news23">
                   <use href="@/assets/svg/svgNews1.svg"></use>
               </svg>
            </div>
        </div>

        <div class='ml-8 min-w-[250px] min-h-[216px] md:w-[306px] md:h-[312px] main-news3'>
            <div class="main-news21">
                <span class="news22">Способы производства ковровых покрытий</span>
                <svg class="h-[16px] w-[16px] fill-error news23">
                    <use href="@/assets/svg/svgNews1.svg"></use>
                </svg>
            </div>
        </div>
    </div>
</div>