<div class='mt-16 main-info'>
    <div id="main-info" class="flex flex-col pt-16 pb-16 mt-16">

        <div id="main-info-distribution"
             class="flex flex-col gap-y-[32px] md:flex-row md:gap-x-[49px] xl:gap-x-[208px]">

            <div id="main-info" class="flex flex-col">
                <div id="main-info-info" class="h2">
                    О магазине
                </div>
                <div class="body-1 mt-4">
                    Более 10 лет мы дарим нашим клиентам профессиональную помощь и удовольствие от ремонта, выполненного
                    с превосходным качеством.
                    Наша специализация – качественный подбор материала и профессиональная укладка напольных покрытий
                    любых типов для быстрого и легкого ремонта.
                </div>
                <a href="" class="mt-4 button-2 underline underline-offset-[2px]">Подробнее</a>
            </div>

            <form id="main-info-form" class="flex flex-col w-[468px] mt-[11px] gap-y-[16px]">
                <div class="subtitle-1">Подпишитесь на рассылку</div>

                <div class="body-4 w-[288px] md:w-[250px] xl:w-[455px]">И получайте интересные предложения и советы от
                    экспертов.
                </div>

                <div class="about-row flex flex-col md:flex-row gap-y-[16px] gap-x-[16px] xl:gap-x-[10px]">
                    <div class="flex flex-col gap-y-[24px]">
                        <input id="main-info-email" type="email"
                               class="bg-[#1D1D1D14] h-[36px] w-[288px] md:w-[219px] md:w-[328px] pl-4 "
                               placeholder="E-mail"></input>
                        <div class="flex flex-row items-center gap-2.5 -mr-16">
                            <input id="about-checkbox" type="checkbox"
                                   class="w-[18px] h-[18px] text-[#FFB74D] border-[#FFB74D] focus:ring-[#FFB74D]"/>
                            <label for="about-checkbox" class="body-4 w-[258px] xl:w-[348px] h-[18px]">Согласен(а) с
                                политикой конфиденциальности</label>
                        </div>
                    </div>
                    <div>
                        <button id="about-discription-button" type="submit"
                                class="btn-primary text-black bg-primary button-2 h-[36px] mt-4 md:mt-0 " disabled>
                            Подписаться
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class='pb-[50px] flex flex-col main-info-l'>
        <div class='mt-[74px] main-info-l1'>Наши клиенты</div>
        <div class='scroll-none mt-[50px]  flex flex-row justify-between overflow-x-scroll xl:overflow-visible main-info-l2'>
            <!--            <div>-->
            <!--                <img class='w-[11px] h-[11px] mt-5 info__left' src="@/assets/svg/info15.png">-->
            <!--            </div>-->
            <!--            <div class="flex flex-row w-[2000px] justify-between" >-->

            <img class='ml-[70px] min-w-[140px] min-h-[72px] md:w-[80px] md:ml-0 md:h-[42px] xl:w-[145px] xl:h-[77px]' src="@/assets/svg/info11.png">
            <img class='min-w-[105px] min-h-[44px] ml-[100px] md:w-[61px] md:h-[27px] xl:w-[112px] xl:h-[50px]' src="@/assets/svg/info12.png">
            <img class='min-w-[190px] min-h-[43px] ml-[100px] md:w-[112px] md:h-[26px] xl:w-[204px] xl:h-[48px]' src="@/assets/svg/info13.png">
            <img class='min-w-[80px] min-h-[52px] ml-[100px] md:w-[47px] md:h-[31px] xl:w-[85px] xl:h-[56px]' src="@/assets/svg/info14.png">

            <!--            <div>-->
            <!--                <img class='w-[11px] h-[11px] mt-5 info__right' src="@/assets/svg/info16.png">-->
            <!--            </div>-->

        </div>

    </div>

</div>