<div class='mt-16 main-info'>
    <div class='main-info-h'>
        <div class='main-info-l'>
            <div class='main-info1'>О магазине</div>
            <div class='mt-4  w-[644px] h-[120px] main-info2'>Более 10 лет мы дарим нашим клиентам профессиональную помощь и удовольствие от ремонта, выполненного с превосходным качеством.
                Наша специализация – качественный подбор материала и профессиональная укладка напольных покрытий любых типов для быстрого и легкого ремонта.</div>
            <button class="mt-5 btn-text button-2">Подробнее</button>
        </div>
        <div class='ml-[208px] main-info-r'>
            <div class='mt-3 main-info3'>Подпишитесь на рассылку</div>
            <div class='mt-4 main-info4'>И получайте интересные предложения и советы от экспертов. </div>
            <div class='mt-4 main-info-r1'>
                <input type="email" class='w-[328px] h-[44px] input' pattern=".+@globex\.com" size="30" placeholder="Label">
                <div class="ml-2 w-[130px] h-[44px] bg-amber-400">
                    <button class="buy gap-2 py-2 pl-3 pr-3 items-center text-center">Подписаться</button>
                </div>
            </div>
            <input type="checkbox" class="mt-6 main-info-r2"name="happy" value="yes">
            <label for="happy">Согласен(а) с политикой конфиденциальности</label>

        </div>

    </div>
    <div class='pb-[50px] main-info-l'>
        <div class='mt-[74px] main-info-l1'>Наши клиенты</div>
        <div class='mt-[50px]  flex flex-row main-info-l2'>
            <img class='w-[11px] h-[11px] mt-5' src="@/assets/svg/info15.png">
            <img class='ml-[48px] w-[150px] h-[80px]' src="@/assets/svg/info11.png">
            <img class='ml-[210px] w-[112x] h-[50px]' src="@/assets/svg/info12.png">
            <img class='ml-[180px] w-[200px] h-[50px]' src="@/assets/svg/info13.png">
            <img class='ml-[195px] w-[85px] h-[55px]' src="@/assets/svg/info14.png">
            <img class='ml-[90px] w-[11px] h-[11px] mt-5' src="@/assets/svg/info16.png">
        </div>

    </div>

</div>