<div class='mt-16 most-view'>
    <div class='most-view1'>Часто ищут</div>
    <div class='mt-8 flex flex-row flex-wrap gap-3 most-view3'>
    <button class="chip-primary body-5 most-view2">серый ковролин</button>
    <button class="chip-primary body-5 most-view2">линолеум грабо</button>
    <button class="chip-primary body-5 most-view2">ковровая плитка domo</button>
    <button class="chip-primary body-5 most-view2">ламинат quick step</button>
        <button class="chip-primary body-5 most-view2">мармолеум forbo</button>
        <button class="chip-primary body-5 most-view2">синий ковролин</button>
        <button class="chip-primary body-5 most-view2">линолеум таркетт</button>
        <button class="chip-primary body-5 most-view2">линолеум ivc</button>
        <button class="chip-primary body-5 most-view2">quick step impressive ultra</button>
        <button class="chip-primary body-5 most-view2">негорючий линолеум (km5)</button>
        <button class="chip-primary body-5 most-view2">ковровая плитка domo</button>
    </div>
</div>