<div class="mt-[70px] mb-21 h-[335px] w-[1320px] opt-buy">
            <div class="ml-16 w-[321px] h-[35px]  opt-buy1"> </div>
            <div class="ml-16 mt-16 w-[321px] h-[35px]  opt-buy1"> Оптовый покупатель </div>
            <div class="ml-16 mt-2 w-[400px] h-[72px] opt-buy2"> Разложим все «по полочкам» для вас! -Индивидуальные условия по ценам и сервису. -Приглашения на закрытые распродажи. </div>
            <div class="ml-16 mt-4 pr-2 w-[117px] h-[37px] opt-buy3">
                <button class="buy gap-3 py-2 pl-3 pr-4 items-center">Подробнее</button>
            </div>
        </div>