<div class='mt-[70px] relative flex w-full h-full mdDown:flex-col'>
    <img class='object-cover h-[145px] md:h-[255px] xl:h-[335px] w-full' 
         src="@/assets/svg/Opt.png" loading='lazy' alt='Баннер1'>

    <div class='flex flex-col items-center justify-center mdDown:px-4 mdDown:py-6 mdDown:text-center mdDown:bg-black-8 md:absolute md:top-0 md:right-0 md:left-20 md:bottom-0 md:items-start md:text-white'>
        <h2 class='h2 mb-2 md:uppercase'>
            Оптовый покупатель
        </h2>

        <span class='body-1 w-[215px] mb-4 md:mb-6 md:w-[400px]'>
              Разложим все «по полочкам» для вас! -Индивидуальные условия по ценам и сервису. -Приглашения на закрытые распродажи.
            </span>

        <a href=''>
            <button class='btn-primary button-2'>
                Подробнее
            </button>
        </a>
    </div>
</div>