<div class='tab-bar' id='tab-bar'>
  <!-- active (fill-primary text-primary) -->
  <a href='/' class='flex flex-col items-center justify-between cursor-pointer fill-primary text-primary'>
    <svg class='w-5 h-5'>
      <use href="@/assets/svg/home.svg"></use>
    </svg>

    <span class='body-5'>Главная</span>
  </a>

  <a href='' class='flex flex-col items-center justify-between cursor-pointer'>
    <svg class='w-4 h-4'>
      <use href="@/assets/svg/square-menu.svg"></use>
    </svg>

    <span class='body-5'>Каталог</span>
  </a>

  <a href='' class='flex flex-col items-center justify-between cursor-pointer'>
    <svg class='w-5 h-5'>
      <use href="@/assets/svg/fav.svg"></use>
    </svg>

    <span class='body-5'>Избранное</span>
  </a>

  <a href='' class='flex flex-col items-center justify-between cursor-pointer'>
    <svg class='w-5 h-5'>
      <use href="@/assets/svg/basket.svg"></use>
    </svg>

    <span class='body-5'>Корзина</span>
  </a>
</div>
